.table-row-cell:selected{
    -fx-background-color: rgb(118, 171, 210);
}

.label{
    -fx-font-size: 12;
}

.table-view {
    -fx-base: #6fb0ee;
    -fx-control-inner-background: #9bd1f6;
    -fx-background-color: #93caef;
    -fx-font-size: 12;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 1;
}